PORT = 3000 # Server port (Optional - default is 3000)
DB_NAME = task-tracker # Database name (Required)
DB_USERNAME = root # Database username (Required)
DB_PASSWORD = # Database password (Required)
DB_HOST = localhost # Database host (Required)
DB_PORT = 3306 # The port of database host (Required)
