PORT = 3000 # Server port (Optional - default is 3000)
DB_NAME = task-tracker # Database name (Required)
DB_USERNAME = root # Database username (Required)
DB_PASSWORD = # Database password (Required)
DB_HOST = localhost # Database host (Required)
DB_PORT = 3306 # The port of database host (Required)
SESSION_SECRET = ***** # Secrets for sessions - you can separate the sessions with "-" in case that you want to update your session secret. The current session secret that sessions will be signed base on that is the first secret, and all secrets are used for checking session signs (Required)
DEPLOY_URL = http://localhost:3000 # The url of your app
EMAILJS_SERVICE_ID = ****** # Service ID of the email service from email js
EMAILJS_PUBLIC_KEY = **** # Public key from emailjs
EMAILJS_PRIVATE_KEY = **** # Private key from emailjs